@section js {
    <script>
    </script>


}
<div class="container">


</div>



<input type=button id="none" data-toggle="modal" data-target="#myModal" value="Modal Bootstrap" />

<div class="row">
    <input class="btn btn-lg btn-success" id="btnSalvar" type="button" value="Cadastrar" />
</div>