@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutPopup</title>
    <script src="~/js/simplaojs.js"></script>

</head>
<body>
    <div>
        Cabeçalho popup
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>