
.diferente{
    background-color: rgba(147,194,255,0.836) !important;
    color: rgb(20,20,20) !important;
}
.meio {
    text-align: center !important;
    width: 35% !important;
}
.invalid !important {
    font-size: 12px;
    color: red;
}

.inputInvalid !important {
    border-bottom: 1px solid red !important;
}

