@{
  Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

@{ViewBag.Titulo = "Realiza Banho";
    ViewBag.Msg = "Realiza Banho";
}
<div class="container container-fluid " style="position:relative;">
    <div class="col-md-12 text-center">
        
    </div>
    <div class="col-md-12" style="margin-top:15%;margin-left:20%"><table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Cliente</th>
      <th scope="col">Animal</th>
      <th scope="col">Produto</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>João Augusto</td>
      <td>Otto</td>
      <td><select><option>Produtos</option></select></td>
      <td>R$35,00</td>
      <td><div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Banho Realizado
  </label>
</div></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Raul</td>
      <td>Thor</td>
      <td><select><option>Produtos</option></select></td>
      <td>R$35,00</td>
      <td><div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Banho Realizado
  </label>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Paulo</td>
      <td>Larry</td>
      <td><select><option>Produtos</option></select></td>
      <td>R$35,00</td>
      <td><div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Banho Realizado
  </label>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-primary" style="float:right">Confirmar</button>
</div>
</div>